@import "tailwindcss";

@theme {
    --font-BYekan: "BYekan", sans-serif;
    --font-Morabba: "Morabba", sans-serif;
    --font-Shabnam: "Shabnam", sans-serif;
}

input[type=range]::-webkit-slider-thumb {
    pointer-events: auto;
    width: 20px;
    height: 20px;
    cursor: move;
    border-radius: 50%;
    -webkit-appearance: none;
    @apply bg-sky-500
}

.custom-pagination .swiper-pagination-bullet {
    @apply w-2 h-2 bg-gray-300 rounded-full cursor-pointer;
    transition:
        transform 0.35s ease,
        width 0.35s ease,
        background-color 0.35s ease,
        opacity 0.35s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
    @apply bg-blue-700 w-4;
    transform: scale(1.1);
}

.navigation-swiper-slider {
    @apply hidden absolute top-1/2 -translate-y-1/2 z-10 p-2.5 border border-gray-200 bg-gray-50/90 hover:bg-white rounded-full shadow-lg md:flex items-center justify-center transition-all duration-300 hover:shadow-xl cursor-pointer
}

.btn-base {
    @apply border border-gray-300 rounded-full hover:bg-gray-100 transition cursor-pointer;
}

.step-menu {
    @apply absolute top-10 right-0 p-4 w-full h-96 bg-white flex flex-col
}

.detail-title {
    @apply text-2xl font-medium border-r-8 border-r-sky-500 rounded pr-2
}

.detail-box {
    @apply border border-gray-300 rounded-lg bg-white
}