@import "tailwindcss";

@theme {
    --font-IRANYekan: "IRANYekan", sans-serif;
}

input[type=range]::-webkit-slider-thumb {
    pointer-events: auto;
    width: 20px;
    height: 20px;
    cursor: move;
    border-radius: 50%;
    -webkit-appearance: none;
    @apply bg-sky-500
}

.btn-base {
  @apply border border-gray-300 rounded-lg hover:bg-gray-100 transition cursor-pointer;
}

.step-menu {
    @apply absolute top-10 right-0 p-4 w-full h-96 bg-white flex flex-col
}